*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body,
html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#coming {
    display: block;
    margin: auto;
}

/* style du header */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    background: linear-gradient(to bottom right, rgba(255, 217, 151, 0.856) 10%, rgba(233, 148, 0, 0.983));
    padding: 0.5em 1em;
}

#header #logo {
    display: block;
    height: 100%;
    position: relative;
}

#header #title_fidec {
    font-size: 3.2em;
    color: rgb(0, 0, 0);
    font-family: "Rubik Maze";

}


#header #social_network {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header #social_network img {
    width: 30px;
    margin: 0 0.4em;
}