@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap');
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gris: #DFE0DC;
    --orange: #FF8600;
    --forange: #f8dab7;
    --green: #129490;
    --black: #162521;
}

body,
html {
    font-size: 14px;
    font-family: Poppins, Arial, sans-serif;
    background-color: var(--gris);
    color: var(--black);
}

#coming {
    display: block;
    margin: auto;
    padding-top: 3rem;
    width: 60rem;
}

/* style du header */

#header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    background: linear-gradient(90deg, var(--forange) 10%, var(--orange));
    padding: 0.5rem 1rem;
}

#header #logo {
    display: block;
    height: 100%;
    position: relative;
}

#header #title_fidec {
    font-size: 3.2rem;
    color: rgb(0, 0, 0);
    font-family: "Rubik Maze";
    font-weight: 200;
}


#header #social_network {

    display: flex;
    justify-content: center;
    align-items: center;
}

#header #social_network img {
    width: 2.2rem;
    margin: 0 0.4rem;
}

/* Style de la navbar */

#navbar {
    background-color: #fff;
    height: 7vh;
    box-shadow: 1px 0 5px rgb(161, 158, 158);
}

#navbar_links{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.navbar_link > a{
     color: var(--black);
     text-decoration: none;
     text-transform: uppercase;
     font-weight: bold;
}


.navbar_link > a::after{
    display: block;
    content: "";
    width: 0%;
    height: 0.2rem;
    background-color: #000;
     transition: width 0.4s ease-in-out;
}

.navbar_link:hover > a::after{
width: 100%;
}

.burger_boutton{
    display: none;
}



/*

@media screen and (max-width:1566px) {

    body,
    html {
        font-size: 12px;
    }

    #header {

        height: 15vh;
    }

    @media screen and (max-width:1120px) {

        body,
        html {
            font-size: 10px;
        }

        #header {

            height: 10vh;
        }

        #header #title_fidec {
            font-size: 2.8rem;
            text-align: center;
        }
    }

    @media screen and (max-width:976px) {

        body,
        html {
            font-size: 8px;
        }

        #header #title_fidec {
            font-size: 2.8rem;
            text-align: center;
        }
    }

    @media screen and (max-width:768px){

        body,
        html {
            font-size: 8px;
        }

        #header #title_fidec {
            font-size: 2.8em;
            text-align: center;
        }

        .burgernav #navbar{
            height: 100vh;
            width: 30vh;
            position: absolute;
            top: 0;
            right:0;
            flex-direction: column;
            justify-content: flex-start;
            font-size: 1.5em
        }

    }
}*/